@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen font-body text-gray-800 bg-brand/5 bg-hero;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: theme(colors.brand / .4);
  border-radius: 4px;
}
